Package: com.82flex.socpwrbud
Name: SoC Power Buddy
Version: 1.0
Architecture: iphoneos-arm
Description: Sudoless alternative to powermetrics for Apple Silicon; realtime CPU & GPU frequency, volts, usage, etc.
Maintainer: Lessica <82flex@gmail.com>
Author: Lessica <82flex@gmail.com>
Section: Tools
